
#container {
    width: 500px; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#display {
    flex: 0 1 100%;
    height: 40px;  
    background-color: grey;
    justify-content: right;
}

.button {
    flex: 1 0 25%; 
    height: 40px; 
    font-size: 18px; 
    cursor: pointer;
    box-sizing: border-box;
}

#zero-button {
    flex: 1 0 50%; 
}